h1 {font-style: initial; font-size: 300%; text-align: center;color: blueviolet;}
body {background-color: rgb(193, 153, 229);}
h2 {font-style: initial;font-size: 200%;text-align: center;caret-color: black;}
#ima1 {width: 20%;margin-left: 20%;}
#ima2 {width: 20%;}
#ima3 {width: 20%;}
h3 {font-style:initial; text-align: center; color: rgb(0, 0, 0);}
h4 {text-align: center;}